<html>
    <head>
        <meta charset="utf-8">    
        <link rel="stylesheet" href="static/style.css">
        <title>Front End / Back End</title>
        <script defer src="static/frontend.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div id="topleft" class="box topleft" style="border: solid grey 1px">Front End 
                <button onclick="frontender()">Change your front end</button>
                <p></p>
                <img id="leftimage" src="static/images/horse.jpg">
                </div>
            <div id="topright" class="box topright" style="border: solid grey 1px">Back End
                <button id="backendbutton" onclick="backender()">Change your back end</button>
                <p class="rtl">
                <img id="rightimage" src="static/images/horse.jpg">
                </p>
                <div id="righttext"></div>
                </div>
            <div id="middleleft" class="box middleleft" style="border: solid grey 1px">hor</div>
            <div id="middleright" class="box middleright" style="border: solid grey 1px">se</div>
            <div id="bottomleft" class="box bottomleft" style="border: solid grey 1px"> </div>
            <div id="bottomright" class="box bottomright" style="border: solid grey 1px"> </div>
          </div>
    </body>
</html>

